appdirs==1.4.3
asgiref==3.2.7
attrs==19.3.0
black==19.10b0
click==7.1.2
Django==3.1.6
django-redis==4.11.0
django-rest-framework==0.1.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
isort==4.3.21
pathspec==0.8.0
psycopg2-binary==2.8.5
pycrypto==2.6.1
PyJWT==1.7.1
python-redis-lock==3.5.0
pytz==2020.1
redis==3.5.1
redis-cache==0.1.5
redis-structures==0.1.7
regex==2020.5.7
sqlparse==0.3.1
toml==0.10.0
typed-ast==1.4.1
vital-tools==0.1.13
